@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
@charset "utf-8";
* {
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.wrapper {
  top: 0;
  border: 0px solid;
  height: 100px;
  width: 100%;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
}
body {
	background: linear-gradient(rgba(0,0,0,0.01),rgba(0,0,0,0.3)), url("pupnorth.jpg");
  height: 40vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding-bottom: 5%;
}
.nav-area {
  float: right;
  list-style: none;
  margin-top: 33px;
  padding-right: 170px;
  
}
.nav-area li {
  display: inline-block;
}
.nav-area li a {
  color: aliceblue;
  text-decoration: none;
  padding: 30px 20px;
  font-size: 25px;
}
.nav-area a:hover {
  background: #F8F8F8;
  color: #191919;
}
.logo img {
  padding-left: 200px;
  width: 100px;
  float: left;
  height: auto;
}
.about{
	margin: 7% 0 5%;
	display:flex;
	justify-content: center;
	width: 100%;
}
.about-img img{
	padding-top: 35%;
	width:250px; 
	height:250px;
}
.about-text{
	width: 75%;
	color: #fff;
	postion: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
}
.about-text h1{
	font-size: 50px;
}
.about-text p{
	margin: 50px;
	font-size: 20px;
	text-align: left
}
.members{
	background: transparent;
	width: 80%;
	margin: auto;
	Text-align: center;
	padding: 50px 20px 0px 20px;
	background-color: #FCF4E9;
	border-radius: 10px;
}
.members h2{
	color: #FFDBAC;
	font-size: 50px;
	margin-top: 0px;
	
}
.members img{
	border-radius: 10px;
	margin-top: 20px;
}
.members h3{
	color: black;
}
.members p{
	font-size: 20px;
	color: black;
}
.members p1{
	font-size: 20px;
	color: black;
	padding-bottom: 20px;
}
.row{
	margin-top: 3%;
	display:flex;
	justify-content: space-between;
	width: 100%;
}
.members-col{
	display: block;
	flex-basis: 30%;
	background: transparent;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 1.5s;
}
.members-col:hover{
	background: #E6CCAB;
	box-shadow: 0 0 30px 10px rgba(0,0,0,0.2)
}
.members-col p1{
	width: 100%;
	color: black;
	bottom: 0px;
	position: relative;
	opacity: 0;
	transition: 0.3s;
	font-size: 15px;
}
.members-col:hover p1{
	bottom: 17px;
	opacity: 1;
}
.members-col img{
	width: 70%; 
	height: 50%;
}