@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
@charset "utf-8";
* {
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
	height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding-top: 3%;
  background: #EBECE7;
}
body hr{
	height:3px;
	border-width:0;
	color:#13505B;
	background-color:#13505B; 
	border-radius:10px;
	width:80%;
	text-align:center;
}
.top{
	width: 80%;
	padding: 0 10%;
}
.top h1{
	font-size: 60px;
}
.middle{
	width: 80%;
    padding: 0 10% 20px;
}
.container{
	margin-top: 0;
	display:flex;
	justify-content: space-between;
	width: 80%;
	text-align: left;
	padding: 0 10%;
}
.column{
	display: block;
	flex-basis: 20%;
	border-radius: 10px;
	box-sizing: border-box;
}
.column img{
	width: 300px; 
	height: 300px;
}
.column p1{
	text-align-last: justify;
	font-size: 30px;
}
.bottom{
	float: right;
	padding: 20px 10% 0 10%;
	text-align: center;
}
.bottom a{
	display: inline-block;
	background: #0C7489; 
	color: white;
	margin: 0 10px;
	padding: 14px 25px;
	text-decoration: none;
}