@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

    /* --main-color: #00BFFF;
    --color-dark: #11a0cf;
    --text-grey: #3d3d3d; */

body {
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #000;
}

.wrapper {
	top: 0;
	border: 1px solid;
	height: 100px;
    width: 100%;
	margin: 0;
	background-color: black;
}

.nav-area{
  float: right;
  list-style: none;
  margin-top: 33px;
  padding-right: 170px;
}

.nav-area li{
	display: inline-block;	
}

.nav-area li a{
  color:aliceblue;
  text-decoration: none;
  padding: 41px 20px ;
  font-size: 25px;	
}

.nav-area a:hover{
  background: #F8F8F8;
  color: #191919;
}

.student-profile .card {
    border-radius: 10px;
}

.student-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%;
}

.student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}

.student-profile .card p {
    font-size: 16px;
    color: #000;
}

.student-profile .table th,
.student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}

.btn{
    border: 1px solid #000;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}

/* table css */
th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


tr:hover {background-color: #EEDCCF;}


th {
  background-color: #7AB5BF;
  color: white;
}


.table {
	 padding-left: 10px;
}
